<style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Danh sách công ty</h4>
                        <p class="card-category"> Companies table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="company-table" class="table dt-responsive " cellspacing="0"
                                   width="100%">
                                <thead class="thead">
                                <tr>
                                    <th class="th-sm">CID
                                    </th>
                                    <th class="th-sm">Tên công ty
                                    </th>
                                    <th class="th-sm">Ngành nghề
                                    </th>
                                    <th class="th-sm">Ảnh đại diện
                                    </th>
                                    <th class="th-sm">Email
                                    </th>
                                    <th class="th-sm">Số điện thoại
                                    </th>
                                    <th class="th-sm">Ngày tham gia
                                    </th>
                                    <th class="th-sm">Hành động
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% companies.forEach(function (company) { %>
                                <tr>
                                    <td><%- company.CID %></td>
                                    <td><%- company.name %></td>
                                    <td><%- company.type %></td>
                                    <td><img class="job-icon" src="<%- company.logo %>"></td>
                                    <td><%- company.email %></td>
                                    <td><%- company.phone %></td>
                                    <td><%- company.created_date.toLocaleString() %></td>
                                    <td class="td-actions text-left"><a href="/company/<%-company.CID%>">
                                        <button type="button" rel="tooltip" class="btn btn-info btn-view">
                                            <i class="material-icons">person</i>
                                            <span>
                                    Xem
                                    </span>
                                        </button>
                                    </a>
                                        <a href="#edit-company-form">
                                            <button type="button" rel="tooltip" class="btn btn-warning btn-edit">
                                                <i class="material-icons">edit</i><span>
                                    Chỉnh sửa
                                    </span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#company-table').DataTable({
            responsive: true,
            "order": [[3, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
        $('#company-table_length').addClass("d-inline-block");
        $('#company-table_filter').addClass("float-right");
        $('#company-table_info').addClass("d-block w-100");
        $('#company-table_paginate').addClass("text-center");
        $('#company-table_paginate a').addClass("btn btn-primary");

        $('#employer-table').DataTable({
            responsive: true,
            "order": [[3, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
        $('#employer-table_length').addClass("d-inline-block");
        $('#employer-table_filter').addClass("float-right");
        $('#employer-table_info').addClass("d-block w-100");
        $('#employer-table_paginate').addClass("text-center");
        $('#employer-table_paginate a').addClass("btn btn-success");

        $('#employee-table').DataTable({
            responsive: true,
            "order": [[3, "desc"]]
        });

        $('.dataTables_length').addClass('bs-select');
        $('#employee-table_length').addClass("d-inline-block");
        $('#employee-table_filter').addClass("float-right");
        $('#employee-table_info').addClass("d-block w-100");
        $('#employee-table_paginate').addClass("text-center");
        $('#employee-table_paginate a').addClass("btn btn-warning");


    });
</script>