<style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Danh sách ứng tuyển</h4>
                        <p class="card-category">CV List</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="applicant-table" class="table dt-responsive " cellspacing="0"
                                   width="100%">
                                <thead class="thead">
                                <tr>
                                    <th class="th-sm d-none">JTID
                                    </th>
                                    <th class="th-sm">Tên
                                    </th>
                                    <th class="th-sm">Ảnh đại diện CV
                                    </th>
                                    <th class="th-sm">Công việc ứng tuyển
                                    </th>
                                    <th class="th-sm">CV ứng tuyển
                                    </th>
                                    <th class="th-sm">Thông tin cá nhân
                                    </th>
                                    <th class="th-sm">Tình trạng
                                    </th>
                                    <th class="th-sm">Hành động
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% applicants.forEach(function (applicant) { %>
                                <tr>
                                    <td class="d-none"><%- applicant.JTID %></td>
                                    <td><%- applicant.name %></td>
                                    <td class="text-center"><img class="applicant-table-img"
                                                                 src="<%- applicant.cvImage %>"></td>
                                    <td><a href="/job/<%- applicant.JID %>"><%- applicant.job %></a></td>
                                    <td><a class="cv-link"
                                           href="/profile/<%- applicant.UID %>/cv/<%- applicant.CVID %>">Get to applied
                                        CV</a></td>
                                    <td><a href="/profile/<%- applicant.UID %>">Get to this profile</a></td>
                                    <% if (applicant.status === 'pending') { %>
                                    <td><span style="background: yellow;">Đang chờ duyệt</span></td>
                                    <td class="td-actions text-left">
                                        <a>
                                            <button type="button" rel="tooltip" class="btn btn-success btn-approve">
                                                <i class="material-icons">check</i>
                                                <span>
                                    Duyệt
                                    </span>
                                            </button>
                                        </a>
                                        <a href="/dashboard/send-email">
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-refuse">
                                                <i class="material-icons">delete</i>
                                                <span>
                                    Tư chối
                                    </span>
                                            </button>
                                        </a>

                                        <a href="#cv-review">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-view">
                                                <i class="material-icons">person</i>
                                                <span>
                                    Xem CV trực tiếp
                                    </span>
                                            </button>
                                        </a>
                                    </td>
                                    <% } else if (applicant.status === 'canceled') { %>
                                    <td><span style="background: #000">Đã từ chối</span></td>
                                    <td class="td-actions text-left">
                                        <a href="#cv-review">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-view">
                                                <i class="material-icons">person</i>
                                                <span>
                                    Xem
                                    </span>
                                            </button>
                                        </a>
                                    </td>
                                    <% } else { %>
                                    <td><span style="background: lightgreen;">Duyệt thành công</span></td>
                                    <td class="td-actions text-left">
                                        <a href="#cv-review">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-view">
                                                <i class="material-icons">person</i>
                                                <span>
                                    Xem CV trực tiếp
                                    </span>
                                            </button>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Danh sách ứng viên chờ duyệt</h4>
                        <p class="card-category">CV List</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="pending-applicant-table" class="table dt-responsive " cellspacing="0"
                                   width="100%">
                                <thead class="thead">
                                <tr>
                                    <th class="th-sm d-none">JTID
                                    </th>
                                    <th class="th-sm">Tên
                                    </th>
                                    <th class="th-sm">Công việc ứng tuyển
                                    </th>
                                    <th class="th-sm">CV ứng tuyển
                                    </th>
                                    <th class="th-sm">Thông tin cá nhân
                                    </th>
                                    <th class="th-sm">Hành động
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% applicants.forEach(function (applicant) { %>
                                <% if (applicant.status === 'pending') { %>
                                <tr>
                                    <td class="d-none"><%- applicant.JTID %></td>
                                    <td><%- applicant.name %></td>
                                    <td><a href="/job/<%- applicant.JID %>"><%- applicant.job %></a></td>
                                    <td><a class="cv-link"
                                           href="/profile/<%- applicant.UID %>/cv/<%- applicant.CVID %>">Get to applied
                                        CV</a></td>
                                    <td><a href="/profile/<%- applicant.UID %>">Get to this profile</a></td>
                                    <td class="td-actions text-left"><a>
                                        <button type="button" rel="tooltip" class="btn btn-success btn-approve">
                                            <i class="material-icons">check</i>
                                            <span>
                                    Duyệt
                                    </span>
                                        </button>
                                    </a>
                                        <a href="/dashboard/send-email">
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-refuse">
                                                <i class="material-icons">delete</i>
                                                <span>
                                    Tư chối
                                    </span>
                                            </button>
                                        </a>
                                        <a href="#cv-review">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-view">
                                                <i class="material-icons">person</i>
                                                <span>
                                    Xem CV trực tiếp
                                    </span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Danh sách ứng viên đã duyệt</h4>
                        <p class="card-category">CV List</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="approved-applicant-table" class="table dt-responsive " cellspacing="0"
                                   width="100%">
                                <thead class="thead">
                                <tr>
                                    <th class="th-sm d-none">JTID
                                    </th>
                                    <th class="th-sm">Tên
                                    </th>
                                    <th class="th-sm">Công việc ứng tuyển
                                    </th>
                                    <th class="th-sm">CV ứng tuyển
                                    </th>
                                    <th class="th-sm">Thông tin cá nhân
                                    </th>
                                    <th class="th-sm">Hành động
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% applicants.forEach(function (applicant) { %>
                                <% if (applicant.status === 'success') { %>
                                <tr>
                                    <td class="d-none"><%- applicant.JTID %></td>
                                    <td><%- applicant.name %></td>
                                    <td><a href="/job/<%- applicant.JID %>"><%- applicant.job %></a></td>
                                    <td><a class="cv-link"
                                           href="/profile/<%- applicant.UID %>/cv/<%- applicant.CVID %>">Get to applied
                                        CV</a></td>
                                    <td><a href="/profile/<%- applicant.UID %>">Get to this profile</a></td>
                                    <td class="td-actions text-left">
                                        <a href="#cv-review">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-view">
                                                <i class="material-icons">person</i>
                                                <span>
                                    Xem CV trực tiếp
                                    </span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success" id="edit-form-header">
                        <h4 class="card-title" id="edit-form-title">Xem CV trực tiêp</h4>
                        <p class="card-category"> Review CV</p>
                    </div>
                    <div class="card-body">
                        <iframe id="cv-review" style="width: 100%; height: 1000px" frameborder="0" scrolling="no">

                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
    $(document).ready(function () {
        $('#applicant-table').DataTable({
            responsive: true,
            "order": [[3, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
        $('#applicant-table_length').addClass("d-inline-block");
        $('#applicant-table_filter').addClass("float-right");
        $('#applicant-table_info').addClass("d-block w-100");
        $('#applicant-table_paginate').addClass("text-center");
        $('#applicant-table_paginate a').addClass("btn btn-primary");

        $('.btn-approve').click(function () {
            var JTID = parseInt($(this).parent().parent().parent().children(":first").text());
            setTransStatus(JTID, "success")

        });
        $('.btn-refuse').click(function () {
            var JTID = parseInt($(this).parent().parent().parent().children(":first").text());
            setTransStatus(JTID, "canceled")
        });
        $('.btn-view').click(function () {
            var cvSource = $(this).parent().parent().parent().children().children('.cv-link').attr('href');
            $('#cv-review').attr('src', cvSource);
        });

        $('#applicant-table').on("draw.dt", function (e) {
            $('#applicant-table_filter').addClass("float-right");
            $('#applicant-table_info').addClass("d-block w-100");
            $('#applicant-table_paginate').addClass("text-center");
            $('#applicant-table_paginate a').addClass("btn btn-primary");
        })
    });

    function setTransStatus(JTID, status) {
        var dataString = 'update=1&status=' + status + '&JTID=' + JTID;
        $.ajax({
            type: "post",
            url: "/dashboard/employer/applicant-manager/edit",
            data: dataString,
            cache: false,
            success: function f() {
                alert("Cập nhật thành công");
                location.reload();
            },
        });
    }
</script>