<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page Title -->
    <title>Company</title>
</head>
<body>

<!-- Page Title Starts -->
<div class="page-title page-title-blog text-center" style="background-image: url('<%- company.logo %>')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2><%- company.name %></h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->


<!-- Start blog-posts Area -->
<section class="blog-posts-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 post-list blog-post-list">
                <div class="single-widget">
                    <h3>Thông tin công ty</h3>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row"><i class="fas fa-user"></i> Name</th>
                            <td><%- company.name %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-envelope-open-text"></i> Chuyên ngành:</th>
                            <td><%- company.companytype %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-map-marker-alt"></i> Address</th>
                            <td><%- company.address %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-mobile-alt"></i> Phone</th>
                            <td><%- company.phone %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-envelope-open-text"></i> Email</th>
                            <td><%- company.email %></td>
                        </tr>
                        </tbody>
                    </table>
                    <% if (typeof(authUser) !== 'undefined') { %>
                    <% if (manager.UID === authUser.UID) { %>
                    <div class="job-btn text-center">
                        <a href="/dashboard/employer/my-company/#edit-profile" class="genric-btn success circle">EDIT</a>
                    </div>
                    <% } %><% } %>
                </div>
                <div class="single-widget">
                    <h3>Giới thiệu:</h3>
                    <div class="company-description">
                        <%- company.description %>
                    </div>
                    <% if (typeof(authUser) !== 'undefined') { %>
                    <% if (manager.UID === authUser.UID) { %>
                    <div class="job-btn text-center">
                        <a href="/dashboard/employer/my-company/#edit-description" class="genric-btn success circle">EDIT</a>
                    </div>
                    <% } %><% } %>
                </div>
                <div class="single-widget">
                    <h3>Hình ảnh công ty:</h3>
                    <div class="company-review-logo">
                        <img src="<%- company.logo %>">
                    </div>
                    <% if (typeof(authUser) !== 'undefined') { %>
                    <% if (manager.UID === authUser.UID) { %>
                    <div class="job-btn text-center">
                        <a href="/dashboard/employer/my-company/#upload-image" class="genric-btn success circle">EDIT</a>
                    </div>
                    <% } %><% } %>
                </div>
                <div class="single-widget">
                    <div class="single-content2">
                        <h3>Danh sách vị trí đang tuyển</h3>
                        <%- availableList %>
                    </div>
                    <div class="single-content2 mt-5">
                        <h3>Danh sách công việc đã hết hạn</h3>
                        <%- expiredList %>
                    </div>
                    <% if (typeof(authUser) !== 'undefined') { %>
                    <% if (manager.UID === authUser.UID) { %>
                    <div class="job-btn text-center mt-5">
                        <a href="/job-manager" class="template-btn">Job Manager</a>
                    </div>
                    <% } %><% } %>
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <%- include('elements/minimal-profile', {user: manager}) %>
                <%- include('elements/job-category-widget', {title: 'Công việc theo ngành',jobCates: jobCates}) %>
            </div>
        </div>
    </div>
</section>
<!-- End blog-posts Area -->
</body>
</html>
