<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responsive Resume Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/css/core/cv.css">

</head>
<body>
<div class="resume-wrapper">
    <section class="profile section-padding">
        <div class="container">
            <div class="picture-resume-wrapper">
                <div class="picture-resume">
                    <span><img src="<%-cv.image %>" alt=""/></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="name-wrapper">
                <h1><%-user.name%></h1>
            </div>
            <div class="clearfix"></div>
            <div class="contact-info clearfix">
                <ul class="list-titles">
                    <li>Phone</li>
                    <li>Mail</li>
                    <li>Profile</li>
                    <li>Address</li>
                </ul>
                <ul class="list-content ">
                    <li><%-user.phone%></li> <!-- YOUR PHONE NUMBER  -->
                    <li><%-user.email%></li> <!-- YOUR EMAIL -->
                    <li><a href="/profile/<%-user.UID%>">Get to my profile</a></li> <!-- YOUR WEBSITE  -->
                    <li><%-user.address%></li> <!-- YOUR STATE AND COUNTRY  -->
                </ul>
            </div>
            <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
                <p><span class="bold"><%- cv.name %></span><br><%- cv.description %></p>
            </div>
        </div>
    </section>

    <section class="experience section-padding">
        <div class="container">
            <%- cv.content %>
        </div>
    </section>

    <div class="clearfix"></div>
</div>
</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>

</html>
