<html lang="en">
<head>
    <!-- Page Title -->
    <title>Job Search</title>

</head>
<body>
<!-- Page Title Starts -->
<section class="page-title page-title-blog text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Tìm kiếm</h2>
                <p>Hãy tìm công việc phù hợp nhất với bạn</p>
            </div>
        </div>
    </div>
</section>
<!-- Page Title End -->

<!-- Search Area Starts -->
<div class="search-area" style="margin-top: -80px">
    <div class="search-bg">
        <%- include('elements/search-bar'); %>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mt-5">
                <span><%- numberOfJobs %> Results found for Keyword: “<%- keyword %>" with Job Category: “<%- jobcategory %>" , Type: “<%- type %>", Level: “<%- level %>"</span>
            </div>
        </div>
    </div>
</div>
<!-- Search Area End -->

<!-- Jobs Area Starts -->
<section class="jobs-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="search-table">
                <%- searchTable %>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <form action="#myTabContent" method="post">
                <div class="more-job-btn mt-5">
                    <input class="btn template-btn" id="btn-search-more" type="submit" name="more" value="more job post"
                           onclick="sendSearchMore('<%- JCID %>','<%- type %>','<%- level %>','<%- keyword %>')">
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Jobs Area End -->
</body>
</html>
