<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Page Title -->
    <title>Profile</title>
</head>
<body>
<!-- Page Title Starts -->
<div class="page-title page-title-blog text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2><%- user.name %>'s profile</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

<!-- Page Title Starts -->
<section class="single-content2 section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <%- include('elements/minimal-profile', {user: user}) %>
            </div>
            <div class="col-lg">
                <div class="single-widget">
                    <h3 class="mb-30">Profile</h3>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row"><i class="fas fa-user"></i> Name</th>
                            <td><%- user.name %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-map-marker-alt"></i> Address</th>
                            <td><%- user.address %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-envelope-open-text"></i> Email</th>
                            <td><%- user.email %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-mobile-alt"></i> Phone</th>
                            <td><%- user.phone %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-birthday-cake"></i> D.O.B</th>
                            <td><%- user.DOB.toDateString() %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-sign-in-alt"></i> Joined date</th>
                            <td><%- user.created_date.toDateString() %></td>
                        </tr>
                        </tbody>
                    </table>
                    <% if (typeof(authUser) !== 'undefined') { %>
                    <% if (user.UID === authUser.UID) { %>
                    <div class="job-btn text-center">
                        <a href="/my-account/edit" class="genric-btn success circle">EDIT</a>
                    </div>
                    <% } %><% } %>
                </div>
            </div>
            <% if (typeof(authUser) !== 'undefined') { %>
            <% if (user.UID === authUser.UID) { %>
            <div class="col-lg-4">
                <div class="single-widget">
                    <h3 class="mb-30">Account</h3>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row"><i class="fas fa-user"></i> Username</th>
                            <td><%- user.username %></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-map-marker-alt"></i> Password</th>
                            <td><input type="password" readonly value="<%- user.password %>"
                                       style="max-width: 80px; border: none"></td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-map-marker-alt"></i> Role</th>
                            <td><%- user.role %></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="job-btn text-center">
                        <a href="/my-account/edit" class="genric-btn success circle">EDIT</a>
                    </div>
                </div>
            </div>
            <% } %><% } %>
        </div>
        <% if (user.role === "employee") { %>
        <div class="row">
            <div class="col-lg">
                <div class="single-widget">
                    <h3 class="title_color">My CVs</h3>
                    <div class="row gallery-item">
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="assets/images/elements/g1.jpg" class="img-gal">
                                <div class="single-gallery-image">
                                    <img src="/images/user2.jpg" alt="">
                                    <div class="container"><h5 class="m-3">123</h5></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <% if (typeof(authUser) !== 'undefined') { %>
                    <% if (user.UID === authUser.UID) { %>
                    <div class="job-btn text-center">
                        <a href="#" class="template-btn">Create new CV</a>
                    </div>
                    <% } %><% } %>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</section>
<!-- Page Title End -->
</body>
</html>
