<style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>
<table id="applicant-table" class="table dt-responsive " cellspacing="0"
       width="100%">
    <thead class="thead-dark">
    <tr>
        <th class="th-sm">JTID
        </th>
        <th class="th-sm">Name
        </th>
        <th class="th-sm">Avatar
        </th>
        <th class="th-sm">Job Applied
        </th>
        <th class="th-sm">Applied CV
        </th>
        <th class="th-sm">Profile links
        </th>
        <th class="th-sm">Status
        </th>
        <th class="th-sm">Action
        </th>
    </tr>
    </thead>
    <tbody>
    <% applicants.forEach(function (applicant) { %>
    <tr>
        <td><%- applicant.JTID %></td>
        <td><%- applicant.name %></td>
        <td class="text-center"><img class="applicant-table-img" src="<%- applicant.avatar %>"></td>
        <td><a href="/job/<%- applicant.JID %>"><%- applicant.job %></a></td>
        <td><a href="/profile/<%- applicant.UID %>/cv/<%- applicant.CVID %>">Get to applied CV</a></td>
        <td><a href="/profile/<%- applicant.UID %>">Get to this profile</a></td>
        <% if (applicant.status === 'pending') { %>
        <td><span style="background: yellow;"><%- applicant.status %></span></td>
        <td><a href="#" class="btn genric-btn info small btn-approve d-block mb-1">Approve</a>
            <a href="#" class="btn genric-btn danger small btn-refuse d-block mb-1">Refuse</a>
            <a href="#cv-review" class="btn genric-btn success small btn-view-cv d-block mb-1">Show CV Directly</a>
        </td>
        <% } else if (applicant.status === 'canceled') { %>
        <td><span style="background: red;"><%- applicant.status %></span></td>
        <td><a href="#cv-review" class="genric-btn success small btn-view-cv">Show CV Directly</a>
        </td>
        <% } else { %>
        <td><span style="background: lightgreen;"><%- applicant.status %></span></td>
        <td>
            <a href="#cv-review" class="genric-btn success small btn-view-cv">Show CV Directly</a>
        </td>
        <% } %>
    </tr>
    <% }); %>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#applicant-table').DataTable({
            responsive: true,
            "order": [[3, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>