<header class="header-area main-header">
    <div class="container">
        <form id="frmLogout" action="/logout" method="post"></form>
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="/"><img id="logo" src="/images/logo/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li class="active"><a href="/">home</a></li>
                        <li class=""><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/job-category">jobs</a>
                            <ul class="sub-menu">
                                <li><a href="/job-search">job search <i class="fas fa-search"></i></a>
                                <li><a href="/job-category">job category <i class="fas fa-arrow-circle-down"></i></a>
                                    <ul class="sub-menu2">
                                        <% for(var i = 0;i < lcJobCategory.length;i++ ){ %>
                                        <li><a href="/job-category/<%= lcJobCategory[i].name %>"> <%= lcJobCategory[i].name %></a></li>
                                        <% }; %>
                                        <li><a href="/job-category">more ...</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/contact">contact</a></li>
                        <li><a href="/about">about us</a></li>
                        <li class="menu-btn">
                            <ul>
                                <% if (!isAuthenticated) {%>
                                <li><a href="/login" class="login">log in</a></li>
                                <li><a href="/register" class="template-btn">Register</a></li>
                                <% } else { %>
                                <li><a href="/dashboard" class="login">Hi, <b><%= authUser.name %> <i
                                        class="fas fa-user"></i></b></a>
                                    <ul class="sub-menu2">
                                        <li><a href="/profile/<%- authUser.UID %>">My profile</i></a></li>
                                        <% if (authUser.role === "employer") {%>
                                        <li><a href="/company/<%- authUser.CID %>">My company</i></a></li>
                                        <% } %>
                                    </ul>
                                </li>
                                <li><a href="javascript: $('#frmLogout').submit();" class="third-btn">Log out</a></li>
                                <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>