<style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>
<table id="job-table" class="table dt-responsive " cellspacing="0"
       width="100%">
    <thead class="thead-dark">
    <tr>
        <th class="th-sm">JID
        </th>
        <th class="th-sm">Name
        </th>
        <th class="th-sm">Category
        </th>
        <th class="th-sm">Amount
        </th>
        <th class="th-sm">Offer
        </th>
        <th class="th-sm">Level
        </th>
        <th class="th-sm">Type
        </th>
        <th class="th-sm">Created Date
        </th>
        <th class="th-sm">Deadline
        </th>
        <th class="th-sm">Status
        </th>
        <th class="th-sm">Editable
        </th>
    </tr>
    </thead>
    <tbody>
    <% jobs.forEach(function (job) { %>
    <tr>
        <td><%- job.JID %></td>
        <td><%- job.name %></td>
        <td><%- job.jobcategory %></td>
        <td><%- job.amount %></td>
        <td><%- job.offer %></td>
        <td><%- job.level %></td>
        <td><%- job.type %></td>
        <td><%- job.created_date.toLocaleDateString() %></td>
        <td><%- job.deadline.toLocaleDateString() %></td>
        <% if (job.status === 'available') { %>
        <td><span style="color: lightgreen"><%- job.status %></span></td>
        <td><a href="#edit-job-form" class="btn genric-btn info small btn-edit">EDIT</a>
        </td>
        <% } else if (job.status === 'expired') { %>
        <td><span style="color: red"><%- job.status %></span></td>
        <td><a href="#edit-job-form" class="btn genric-btn success small circle btn-edit">EDIT</a>
        </td>
        <% } else { %>
        <td><span style="color: gray"><%- job.status %></span></td>
        <td><a href="#edit-job-form" class="btn genric-btn success small circle btn-edit">EDIT</a>
        </td>
        <% } %>
    </tr>
    <% }); %>
    </tbody>
</table>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#job-table').DataTable({
            responsive: true,
            "order": [[3, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>