<div class="row">
    <div class="col-lg">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                <% recentJob.forEach(function (job) { %>
                <%- include('./job-filter-table-item',{job:job, job_type: 'all'})%>
                <%}) %>
            </div>
            <div class="tab-pane fade" id="full-time" role="tabpanel" aria-labelledby="full-time-tab">
                <% fulltimeJob.forEach(function (job) { %>
                <%- include('./job-filter-table-item',{job:job, job_type: 'full time'})%>
                <%}) %>
            </div>
            <div class="tab-pane fade" id="part-time" role="tabpanel" aria-labelledby="part-time-tab">
                <% parttimeJob.forEach(function (job) { %>
                <%- include('./job-filter-table-item',{job:job, job_type: 'part time'})%>
                <%}) %>
            </div>
            <div class="tab-pane fade" id="intern" role="tabpanel" aria-labelledby="intern-tab">
                <% internJob.forEach(function (job) { %>
                <%- include('./job-filter-table-item',{job:job, job_type: 'intern'})%>
                <%}) %>
            </div>
        </div>
    </div>
    <% if (typeof(more) !== 'undefined') { %>
    <%- more %>
    <% } %>
</div>
