<div class="single-widget portfolio-widget">
    <h3><%- user.role %></h3>
    <a href="/profile/<%- user.UID %>">
        <img class="avatar" src="<%- user.avatar %>" alt="">
        <h4><%- user.name %></h4>
    </a>
    <% if (user.role === "employer") { %>
    <p>
        Working At <a href="/company/<%- user.CID %>"> <%- user.company %> </a>
    </p>
    <% } else { %>
    <p>
        Hello this is my profile
    </p>
    <% } %>
    <div class="job-btn align-self-center">
        <a href="mailto:<%- user.email %>" class="template-btn">Send Email</a>
    </div>
    <h6 style="margin-top: 20px">
        or
    </h6>
    <ul>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
    </ul>
</div>